<div class="aceShortcut <%= data.theme %>">
    <div class="aceShortcutIcon">
        <%= data.icon %>
    </div>
    <div class="aceShortcutTitle">
        <%= data.bridged ? '<span class="aceShortcutBridgeHint">「通过调试桥载入」</span>' : ''%><%= data.title%>
    </div>
</div>