.aceBridgeHint {
    position: fixed;
    right: 0;
    bottom: 0;
    color: #333;
    background-color: white;
    border-radius: 3px;
    z-index: 9999;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.aceBridgeHintLabel {
    font-weight: 600;
    background-color: #fd4c5d;
    color: white;
}

.aceBridgeHint.aceDark {
    background-color: #545454;
    color: #fff;
    box-shadow: 0 0 4px rgba(253, 76, 93, 0.05);
}

.aceBridgeHint.aceDark .aceBridgeHintLabel {
    background-color: #fd4c5d;
    color: white;
}