.aceLoader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #fd4c5d;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

.aceLoaderWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 127;
}

.aceLoaderText {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.aceLoaderWrapper.aceLight .aceLoader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #fd4c5d;
}

.aceLoaderWrapper.aceLight .aceLoaderText {
    color: #333333;
}

.aceLoaderWrapper.aceDark .aceLoader {
    border: 8px solid #424242;
    border-top: 8px solid #eee;
}

.aceLoaderWrapper.aceDark .aceLoaderText {
    color: #eee;
}