<div class="aceDashboard <%= data.theme %>">
    <div class="aceDashboardHeader">
        <h1>AcFun Evolved 控制面板</h1>
        <button id="close">×</button>
    </div>
    <div class="aceDashboardMain"></div>
</div>