.aceDashboard {
    min-width: 690px;
    min-height: 300px;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out, transform .2s ease-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 101;
    overflow-y: scroll;
}

.aceDashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aceDashboardHeader h1 {
    font-size: 18px;
    font-weight: 600;
    color: #fd4c5d;
}

.aceDashboardHeader button {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fd4c5d;
    transition: color .2s ease-out, background-color .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.aceDashboardHeader button:hover {
    background-color: #eee;
}

.aceDashboard.open {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: initial;
}

.aceDashboardMain {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.aceDashboard.aceLight {
    background: #fff;
    color: #333;
}

.aceDashboard.aceDark {
    background: #333;
    color: #fff;
}

.aceDashboard.aceDark .aceDashboardHeader button {
    background-color: #333;
}

.aceDashboard.aceDark .aceDashboardHeader button:hover {
    background-color: #eee;
    color: #fd4c5d;
}