.aceAboutPanel {
    min-width: 360px;
    min-height: 300px;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out, transform .2s ease-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 101;
    overflow-y: scroll;
}

.aceAboutPanel.open {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: initial;
}

.aceAboutContent button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    transition: background-color .2s ease-out;
    color: #333;
    width: 100%;
    margin: 10px 20px;
    box-sizing: border-box;
}

.aceAboutContent button:hover {
    background-color: #eee;
}

.aceAboutHeader {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: center;
}

.aceAboutTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aceAboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.aceAboutIcon {
    width: 128px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aceAboutInfo h1 {
    margin: 0;
    color: #fd4c5d;
    font-size: 18px;
}

.aceAboutInfo p {
    margin: 4px 0;
    font-size: 12px;
    color: #666;
}

.aceAboutPanel.aceLight {
    background: #fff;
    color: #333;
}

.aceAboutPanel.aceDark {
    background: #333;
    color: #fff;
}

.aceAboutPanel.aceDark .aceAboutInfo h1 {
    color: #fff;
}

.aceAboutPanel.aceDark .aceAboutInfo p {
    color: #aaa;
}


.aceAboutPanel.aceDark .aceAboutContent button {
    color: #fff;
}

.aceAboutPanel.aceDark .aceAboutContent button:hover {
    background-color: rgba(253, 76, 93, 0.1);
}