<div class="aceDialog <%= data.theme %>">
    <div class="aceDialogHeader">
        <!--        <div class="aceDialogHeaderIcon">-->
        <!--            <img src="icon.png" alt="Icon" style="width: 18px; height: 18px;">-->
        <!--        </div>-->
        <div class="aceDialogHeaderTitle"><%= data.title %></div>
    </div>
    <div class="aceDialogContent">
        <%= data.content %>
    </div>
    <div class="aceDialogActionsWrapper">
        <button id="confirm">好</button>
        <% if(!data.isNotice) { %>
            <button id="cancel">取消</button>
        <% } %>
    </div>
</div>