.aceDialog {
    min-width: 200px;
    min-height: 150px;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out, transform .2s ease-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 102;
    overflow-y: scroll;
}

.aceDialog.aceLight {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aceDialog.aceDark {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 6px rgba(253, 76, 93, 0.1);
}

.aceDialog.aceDark .aceDialogActionsWrapper button {
    color: #fff;
}

.aceDialog.aceDark .aceDialogActionsWrapper button:hover {
    background-color: rgba(253, 76, 93, 0.1);
}

.aceDialog.open {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: initial;
}

.aceDialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fd4c5d;
}

.aceDialogHeaderIcon img {
    width: 18px;
    height: 18px;
}

.aceDialogHeaderTitle {
    font-weight: 600;
    font-size: 18px;
}

.aceDialogActionsWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.aceDialogActionsWrapper button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    transition: background-color .2s ease-out;
    padding: 3px 10px;
}

.aceDialogActionsWrapper button:hover {
    background-color: #eee;
}

.aceDialogActionsWrapper #confirm {
    color: #fd4c5d;
}

.aceDialogContent {
    overflow: auto;
    flex-grow: 1;
}

