.aceButton {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: .8rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    height: 100%;
}

.aceButton.hovered {
    background-color: #005bb5;
    transform: scale(1.05);
}

/* 黑夜模式样式 */
.aceButton.aceDark {
    background-color: #444;
    color: #f7f7f7;
}

.aceButton.aceDark.hovered {
    background-color: #222;
    transform: scale(1.05);
}
