.aceImageWrapper {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #ffffff;
}

.aceImageWrapper:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.aceImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    filter: invert(17%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(85%);
}

.aceSvgIcon {
    fill: #333333;
}

/* 黑夜模式样式 */
.aceImageWrapper.aceDark {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(68, 68, 68, 0.3);
}

.aceImageWrapper.aceDark:hover {
    box-shadow: 0 8px 16px rgba(68, 68, 68, 0.7);
}

.aceImageWrapper.aceDark .aceSvgIcon {
    fill: #fff;
}

.aceImageWrapper.aceDark .aceImage {
    filter: invert(100%) brightness(100%);
}