.acePluginPanel {
    min-width: 720px;
    min-height: 690px;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out, transform .2s ease-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 101;
}

.acePluginPanel.open {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: initial;
}

.acePluginPanelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acePluginPanelHeader h1 {
    font-size: 18px;
    font-weight: 600;
    color: #fd4c5d;
}

.acePluginPanelMain {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: hidden;
}

.acePluginPanelView {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    overflow-y: scroll;
    flex-direction: column;
}

.acePluginPanelCaption {
    color: #333333;
    margin-right: 10px;
}

.acePluginPanel.aceDark .acePluginPanelCaption {
    color: #eeeeee;
}

.acePluginPanelInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color: #eeeeee;
}

.acePluginPanelActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.acePluginPanelActions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    transition: background-color .2s ease-out;
    padding: 3px 10px;
}

.acePluginPanelActions button:hover {
    background-color: #eee;
}

.acePluginPanelActions #refresh {
    color: #fd4c5d;
}

.acePluginPanelHeader button {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fd4c5d;
    transition: color .2s ease-out, background-color .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.acePluginPanelHeader button:hover {
    background-color: #eee;
}

.acePluginPanel.aceDark {
    background-color: #333;
}

.acePluginPanel.aceDark .acePluginPanelHeader button {
    background-color: #333;
}

.acePluginPanel.aceDark .acePluginPanelHeader button:hover {
    background-color: #eee;
    color: #fd4c5d;
}

.acePluginPanel.aceDark .acePluginPanelInfo {
    color: #545454;
}

.acePluginPanel.aceDark .acePluginPanelActions button {
    color: #fff;
}

.acePluginPanel.aceDark .acePluginPanelActions button:hover {
    background-color: rgba(253, 76, 93, 0.1);
}

.acePluginPanel.aceDark #refresh {
    color: #fd4c5d;
}