<div class="aceRuntimeSettingsPanel <%= data.theme %>">
    <div class="aceRuntimeSettingsPanelHeader">
        <div class="aceRuntimeSettingsPanelHeaderTitle">AcFun Evolved 设置</div>
    </div>
    <div class="aceRuntimeSettingsPanelContent">
        <div class="aceRuntimeSettingsSection">
            <h4>通用</h4>
            <div class="aceRuntimeSettingsPanelOption">
                <label for="timing">插件载入时机</label>
                <div>
                    <select id="timing">
                        <option value="delayed">延后</option>
                        <option value="normal">正常</option>
                    </select>
                </div>
            </div>
            <div class="aceRuntimeSettingsPanelOption">
                <label for="source">源</label>
                <select id="source">
                    <option value="github">Github（更新最快，但是可能受限于网络无法访问）</option>
                    <option value="cloudflare">Cloudflare（CDN，绝大部分地区可以访问）</option>
                    <option value="jsdelivr">jsDelivr（CDN，绝大部分地区可以访问）</option>
                </select>
            </div>
            <div class="aceRuntimeSettingsPanelOption">
                <label for="observeMode">插入节点监管模式</label>
                <select id="observeMode">
                    <option value="normal">一般（推荐，节省性能）</option>
                    <option value="evolved">进化（保证原始DOM完整）</option>
                </select>
            </div>
        </div>
        <div class="aceRuntimeSettingsSection">
            <h4>视觉</h4>
            <div class="aceRuntimeSettingsPanelOption">
                <label for="theme">AcFun Evolved 主题</label>
                <div>
                    <div>
                        <input type="radio" id="themeLight" name="theme" value="aceLight">
                        <label for="themeLight">亮</label>
                    </div>
                    <div>
                        <input type="radio" id="themeDark" name="theme" value="aceDark">
                        <label for="themeDark">暗</label>
                    </div>
                    <div>
                        <input type="radio" id="themeAuto" name="theme" value="aceAuto">
                        <label for="themeAuto">自动</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="aceRuntimeSettingsSection">
            <h4>开发者</h4>
            <div class="aceRuntimeSettingsPanelOption">
                <label>安全策略 PSV</label>
                <div>
                    <div class="aceRuntimeSettingsPanelRadioOption">
                        <input type="radio" id="psvStrong" name="securityPolicy" value="store">
                        <label for="psvStrong">仅ACE Store</label>
                    </div>
                    <div class="aceRuntimeSettingsPanelRadioOption">
                        <input type="radio" id="psvWeak" name="securityPolicy" value="trusted">
                        <label for="psvWeak">受信任开发者</label>
                    </div>
                    <div class="aceRuntimeSettingsPanelRadioOption">
                        <input type="radio" id="psvOff" name="securityPolicy" value="none">
                        <label for="psvOff">不检查</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="aceRuntimeSettingsSection">
            <p class="aceRuntimeSettingsPanelCaptions">
                ※ ACE载入时机一般设置为「正常」，如果你使用的ACE插件需要在网页载入后才能正常工作，可以将其设置为「延后」。
            </p>
            <p class="aceRuntimeSettingsPanelCaptions">
                ※ 源设置请根据自身网络情况选择，如果你无法访问Github，请选择Cloudflare或jsDelivr。
            </p>
            <p class="aceRuntimeSettingsPanelCaptions">
                ※ 插入节点监管模式使用「一般」即可，即节省性能又能保证运行时良好运行。若运行时关于「Trace.js/observe」报错，请切换到「进化」。此选项若选择「进化」对性能影响较大。
            </p>
            <p class="aceRuntimeSettingsPanelCaptions">
                ※ AcFun Evolved 主题是AcFun Evolved的主题，而非其中插件的主题，插件的主题根据是否适配而有所不同，具体请进入插件进行设置。
            </p>
            <p class="aceRuntimeSettingsPanelCaptions">
                ※ 安全策略 PSV(插件签名验证) 是插件载入器的行为方式设置。默认时，载入器仅信任ACE Store中的插件，但你可以选择信任受信任开发者的插件，或者关闭PSV。
            </p>
            <p class="aceRuntimeSettingsPanelCaptions">
                ※ 在「控制面板」中启用「ACE Runtime Debug Bridge」，需要将PSV等级调整为 「受信任开发者」或「不检查(关闭PSV)」。
            </p>
            <p class="aceRuntimeSettingsPanelCaptions">
                ※ 本地开发插件测试时，请关闭PSV以打开ACEDB。
            </p>
        </div>
    </div>
    <div class="aceRuntimeSettingsPanelActionsWrapper">
        <button id="confirm">好</button>
        <button id="cancel">并不保存</button>
        <button id="about">关于 AcFun Evolved</button>
        <button id="github">GitHub</button>
    </div>
</div>
