.aceWindowWrapper {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.aceWindowWrapper:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.aceWindowTitleBar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    height: 10%;
    min-height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.aceWindowTitle {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.aceWindowContent {
    padding: 20px;
    height: 90%;
}

/* 黑夜模式样式 */
.aceWindowWrapper.aceDark {
    background-color: rgba(48, 58, 65, 1);
    box-shadow: 0 4px 8px rgba(48, 58, 65, 0.5);
}

.aceWindowWrapper.aceDark:hover {
    box-shadow: 0 8px 16px rgba(48, 58, 65, 0.7);
}

.aceWindowWrapper.aceDark .aceWindowTitleBar {
    background-color: rgba(48, 58, 65, 1);
    border-bottom: 1px solid #444;
}

.aceWindowWrapper.aceDark .aceWindowTitle {
    color: #f7f7f7;
}

.aceWindowWrapper.aceDark .aceWindowContent {
    background-color: rgba(48, 58, 65, 1);
    color: #f7f7f7;
}
