.aceAudioWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.aceAudioWrapper:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.aceAudioPlayer {
    width: 100%;
    max-width: 400px;
    outline: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.aceAudioPlayer::-webkit-media-controls-panel {
    background-color: #fff;
    border-radius: 10px;
}

.aceAudioPlayer::-webkit-media-controls-play-button,
.aceAudioPlayer::-webkit-media-controls-pause-button,
.aceAudioPlayer::-webkit-media-controls-mute-button,
.aceAudioPlayer::-webkit-media-controls-volume-slider,
.aceAudioPlayer::-webkit-media-controls-timeline {
    filter: invert(1);
}

/* 黑夜模式样式 */
.aceAudioWrapper.aceDark {
    background-color: #1c1c1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.aceAudioWrapper.aceDark:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.aceAudioWrapper.aceDark .aceAudioPlayer {
    background-color: #2c2c2e;
}

.aceAudioWrapper.aceDark .aceAudioPlayer::-webkit-media-controls-panel {
    background-color: #2c2c2e;
}

.aceAudioWrapper.aceDark .aceAudioPlayer::-webkit-media-controls-play-button,
.aceAudioWrapper.aceDark .aceAudioPlayer::-webkit-media-controls-pause-button,
.aceAudioWrapper.aceDark .aceAudioPlayer::-webkit-media-controls-mute-button,
.aceAudioWrapper.aceDark .aceAudioPlayer::-webkit-media-controls-volume-slider,
.aceAudioWrapper.aceDark .aceAudioPlayer::-webkit-media-controls-timeline {
    filter: invert(0.8);
}