.aceRuntimeBridgeSettingsPanel {
    min-width: 360px;
    min-height: 300px;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out, transform .2s ease-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 101;
    overflow-y: scroll;
}

.aceRuntimeBridgeSettingsPanel.aceLight {
    background-color: #fff;
    color: #333; /* 文本颜色 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aceRuntimeBridgeSettingsPanel.aceDark {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 6px rgba(253, 76, 93, 0.1);
}

.aceRuntimeBridgeSettingsPanel.aceDark .aceRuntimeBridgeSettingsSection {
    background-color: #424242;
}

.aceRuntimeBridgeSettingsPanel.aceDark .aceRuntimeBridgeSettingsPanelActionsWrapper button {
    color: #fff;
}

.aceRuntimeBridgeSettingsPanel.aceDark .aceRuntimeBridgeSettingsPanelActionsWrapper button:hover {
    background-color: rgba(253, 76, 93, 0.1);
}

.aceRuntimeBridgeSettingsPanel.open {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    pointer-events: initial;
}

.aceRuntimeBridgeSettingsPanelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fd4c5d;
}

.aceRuntimeBridgeSettingsPanelHeaderTitle {
    font-weight: 600;
    font-size: 18px;
}

.aceRuntimeBridgeSettingsPanelContent {
    overflow: auto;
    flex-grow: 1;
}

.aceRuntimeBridgeSettingsSection {
    margin-bottom: 10px;
    background-color: #eee;
    border-radius: 3px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aceRuntimeBridgeSettingsPanelOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.aceRuntimeBridgeSettingsSection h4 {
    font-size: 18px;
}

.aceRuntimeBridgeSettingsPanelActionsWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.aceRuntimeBridgeSettingsPanelActionsWrapper button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    transition: background-color .2s ease-out;
    padding: 3px 10px;
}

.aceRuntimeBridgeSettingsPanelActionsWrapper button:hover {
    background-color: #eee;
}

.aceRuntimeBridgeSettingsPanelActionsWrapper #confirm {
    color: #fd4c5d;
}

.aceRuntimeBridgeSettingsPanelCaptions {
    font-size: 12px;
    color: #888;
}
